$color: #8e8e8e;
$container-size: 768px;
$bg: #000;
$text: #fff;
$primary-yellow: #f9f929;


*, *::after, *::before {
    box-sizing: border-box;
}

output {
    color: $color;
    border: 1px solid $color;
    border-radius: 4px;
    padding: .5rem;
    user-select: none;
    transition: transform .2s;

    & span {
        color: red;
    }

    &:hover {
        transform: scale(1.1);
    }
}

body {
    background: $bg;
    color: $text;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: $container-size;
    text-align: center;

    h1 {
        display: inline-block;
        font-size: 36px;
    }

    span {
        color: $primary-yellow;
        font-size: 36px;
        margin-left: 10px;
    }

    img {
        height: 400px;
        width: 600px;
    }
}
